---
# YAML Lint configuration for GitLab Docker Runner role
extends: default

rules:
  # Customize line length
  line-length:
    max: 120
    level: warning
  
  # Allow document start
  document-start:
    present: false
  
  # Allow trailing spaces
  trailing-spaces:
    level: warning
  
  # Allow comments
  comments-indentation:
    level: warning
  
  # Allow empty lines
  empty-lines:
    max: 2
    max-start: 1
    max-end: 1

# Exclude files from linting
exclude:
  - 'venv/'
  - '.venv/'
  - 'molecule/'
  - 'tests/'
  - '*.pyc'
  - '__pycache__/'
  - '.git/'
  - 'node_modules/' 