ansible-compat==25.6.0
ansible-core==2.18.7
ansible-lint==25.6.1
attrs==25.3.0
black==25.1.0
bracex==2.6
certifi==2025.7.14
cffi==1.17.1
charset-normalizer==3.4.2
click==8.2.1
click-help-colors==0.9.4
cryptography==45.0.5
docker==7.1.0
enrich==1.2.7
execnet==2.1.1
filelock==3.18.0
idna==3.10
importlib_metadata==8.7.0
iniconfig==2.1.0
Jinja2==3.1.6
jsonschema==4.25.0
jsonschema-specifications==2025.4.1
markdown-it-py==3.0.0
MarkupSafe==3.0.2
mdurl==0.1.2
molecule==25.6.0
molecule-docker==2.1.0
mypy_extensions==1.1.0
packaging==25.0
pathspec==0.12.1
platformdirs==4.3.8
pluggy==1.6.0
pycparser==2.22
Pygments==2.19.2
pytest==8.4.1
pytest-ansible==25.6.3
pytest-plus==0.8.1
pytest-sugar==1.0.0
pytest-xdist==3.8.0
PyYAML==6.0.2
referencing==0.36.2
requests==2.32.4
resolvelib==1.0.1
rich==14.0.0
rpds-py==0.26.0
ruamel.yaml==0.18.14
ruamel.yaml.clib==0.2.12
subprocess-tee==0.4.2
termcolor==3.1.0
typing_extensions==4.14.1
urllib3==2.5.0
wcmatch==10.1
yamllint==1.37.1
zipp==3.23.0
